<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinfo">

	<select id="totalsinfo" resultType="int" parameterType="String">
		select count(*) from sinfo where snum = #{snum}
	</select>

	<select id="sinfolist" resultType="sin" parameterType="map">
		select *
		from (
		select rownum r_num, a.* from (
		select * from sinfo order by inum
		desc
		) a
		) where snum = #{snum} and r_num BETWEEN #{begin} and #{end}
	</select>

	<insert id="sinfoin" parameterType="map"
		statementType="CALLABLE">
		{CALL sinfoin
		(#{uno},#{iname},#{iprice},#{istoke},#{imgn})}
	</insert>
	
	<update id="upiname" parameterType="sin">
		update sinfo set iname=#{iname} where inum=#{inum}
	</update>
	
	<update id="upiprice" parameterType="sin">
		update sinfo set iprice=#{iprice} where inum=#{inum}
	</update>
	
	<update id="upistoke" parameterType="sin">
		update sinfo set istoke=#{istoke} where inum=#{inum}
	</update>
</mapper>